body, td {
    font-family: Tahoma;
}

.boldcode {
    font-weight: bold;
    background-color: #f0f0f0; /* Or any styling you prefer for highlighting */
    /* Add any other styling here to mimic inline code */
}

// /* Custom CSS to ensure table content wraps */
// .wy-table-responsive table td, .wy-table-responsive table th {
//     white-space: normal;
//     vertical-align: top;
//     text-align: top;
//     align: top;
// }

.schema-table td, .schema-table th {
  padding: 7pt;
  border: 0;
  border-left: 1px solid white;
  border-right:1px solid white;
  text-align: left;
}
.schema-table th {
  background-color: #2E86C1;
  border-top: 1px solid black;
  border-bottom: 1px solid darkblue;
  border-left: 1px solid white;
  border-right:1px solid white;
  color: white;
  font-weight: normal;
}
.schema-table tbody tr:nth-child(even) {
  background-color: #EBF5FB;
}
.schema-table tbody tr:nth-child(odd) {
  background-color: #BFDFF6;
}
.schema-table tbody tr:nth-last-child(1) {
  border-bottom: 1px solid darkblue;
}

.schema-table-green td, .schema-table-green th {
  padding: 5pt;
  border: 0;
  border-left: 1px solid white;
  border-right:1px solid white;
  text-align: left;
}
.schema-table-green th {
  background-color: #2EC186;
  border-top: 1px solid black;
  border-bottom: 1px solid darkgreen;
  border-left: 1px solid white;
  border-right:1px solid white;
  color: white;
  font-weight: normal;
}
.schema-table-green tbody tr:nth-child(even) {
  background-color: #EBFBF5;
}
.schema-table-green tbody tr:nth-child(odd) {
  background-color: #BFF6DF;
}
.schema-table-green tbody tr:nth-last-child(1) {
  border-bottom: 1px solid darkgreen;
}

/* Increase the width of the content area for a specific page */
.wide-tables .wy-nav-content {
    max-width: 1200px; /* Adjust the width as needed */
}
.wy-nav-content {
    max-width: 610pt;
}

/* Ensure tables within that page are fully visible and scrollable if needed */
.wide-tables .wy-table-responsive table {
    display: inline-block;
    width: auto;
    overflow-x: auto;
}

/* Override inline code background */
code, .code {
    background-color: inherit !important; /* Force override */
}
